.signup {
    display: block;
    width: 100%;
    max-width: 40rem;
    border: 1px solid black;
    margin: 4rem auto 6rem;

    .container {
        padding: 10px;

        h2 {
            font-size: 2.2rem;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 100%;

        }
        ul {
            padding: 30px 40px 0;
        }

        .formWrap {
            margin: 3rem auto 0;
        }
    }
}