.adminToolbar {
    display: inline-block;
    width: 100%;
    background-color: black;
    height: auto;
    margin: 0 auto;
    padding: 0 30px;

    ul {
        float: right;
        li {
            a {
                display: block;
                font-size: 1.5rem;
                line-height: 1;
                color: white;
                padding: 10px;
                transition: all 0.4 ease-in-out;
                text-align: right;


                &:hover {
                    background-color: rgba(255, 255, 255, 0.89);
                    transition: all 0.4 ease-in-out;
                    color: black;
                    width: 100%;
                }
            }
        }
    }
}