button {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    background: black;
    color: white;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    border: 0; 
    outline: none;
    cursor: pointer;
}