.directory {
    height: 100%;

        .container {
            display: flex;
            width: 100%;
            height: 100%;

            .item {
                position: relative;
                width: 50%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: black;
                    z-index: 2;
                    padding: 10px;
                    background-color: white;
                    cursor: pointer;
                    font-size: 2rem;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                    border: 1px solid black;
                }
            }
        }
}
