header {
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .container {
        position: relative;
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;

        .logo {
            display: flex;
            align-items: center;
            width: 13rem;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);

            a {
                margin-left: 10px;
                display: flex;
                align-items: center;

                p {
                    margin-left: 7px;
                    color: black;
                }
            }

            img {
                display: block;
                width: 50px;
                height: 50px;
                margin: 0px;
            }
        }

        .callToActions {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            ul, li {
                margin: 0;
                padding: 0;
            }

            li {
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                margin-left: 2rem;

                a, span {
                    font-size: 1.8rem;
                    line-height: 1;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}