*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.App,
.fullHeight {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

a, a:hover{
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main {
    width: 100%;
    height: calc(100% - 6.5rem);
    max-width: 1050px;
    margin: 0 auto;
}

.controlPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    padding: 3rem 0 6rem 25.0rem;
    border-bottom: 1px solid #d3d3d3;

    .sidebar {
        position: absolute;
        top: 0; left: 0;
        width: 25.0rem;
        height: 100%;
        z-index: 1;
        border-right: 1px solid #d3d3d3;
    }

    .content {
        padding: 0 10px;
    }
}

.adminLayout {
    height: calc(100% - 6.5rem - 5.8rem - 3.6rem);
}

.dashboardLayout {
    height: calc(100% - 6.5rem -  5.8rem - 3.6rem);
}
